<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  	<parameter name="rutaOutput" value="./output/"></parameter>
	<parameter name="url" value="https://www.mercadolibre.com.co/"></parameter>
	<parameter name="rutaImagenReporteMER" value="./imagenes/logoMER.png"></parameter>
	<parameter name="logoToolsQA" value="./imagenes/logoToolsQA.png"></parameter>
	<parameter name="logoMercury" value="./imagenes/logoMercury.png"></parameter>
    <classes>
      <class name="ClasesBase.ClaseBase"/>
      <class name="RunPruebas.RunPrueba"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
